server:
  port: 8081
  servlet:
    context-path: /springai
spring:
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  ai:
    openai:
      api-key: ${OPENAI_KEY}
      chat: # By default its true, this triggers the autoconfiguration.
        options:
          model: gpt-4o
          temperature: 1.0
          max_completion_tokens: 2000
    vectorstore:
      pgvector:
        initialize-schema: true
  datasource:
    driverClassName: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/docs
    username: admin
    password: password
    hikari:
      minimumIdle: 1
      maximumPoolSize: 10
      validationQuery: SELECT 1

  flyway:
    enabled: false
ingestion:
  enabled: false

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics
      base-path: /actuator
  endpoint:
    prometheus:
      enabled: true
  prometheus:
    metrics:
      export:
        enabled: true
        step: 5s
  metrics:
    distribution:
      percentiles-histogram:
        all: true
    enable:
      all: true
  tracing:
    sampling:
      probability: 1.0
    enabled: true